.botao-container {
  background: #1d1d1d;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 20px;
}

.botao-iniciar {
  padding: 5px 30px;
  background: #4e4e4e;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 6px;
  color: white;
  cursor: pointer;
  transition: background 0.2s ease;
  display: flex;
  justify-content: center;
}

.botao-iniciar:hover {
  background: #6e6e6e;
}